.quotation-section {
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line */
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    /* Set a minimum height for small screens */
}

.quotation-card {
    background: linear-gradient(to bottom right,
            #e0e0e0,
            #f0f0f0);
    /* Gradient background */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 45%;
    height: 600px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.quotation-card:hover {
    transform: scale(1.05);
    /* Add a slight scale effect on hover */
}

.quotation-symbol {
    font-size: 8em;
    /* Larger font size for the quotation symbol */
    color: #070707;
    /* Dark Orange symbol color for a devotional touch */
    margin-bottom: 15px;
}

.quotation-text {
    font-size: 1.2em;
    color: #555;
    /* Dark gray text color for readability */
    line-height: 1.6;
    margin-bottom: 20px;
}

.quotation-author {
    font-size: 1em;
    font-weight: bold;
    color: #777;
    /* Light gray color for the author name */
    margin-top: 10px;
}

.quotation-image {
    width: 150px;
    /* Set width to 100% for responsiveness */
    height: 150px;
    /* Maintain aspect ratio */
    max-width: 150px;
    /* Set a maximum width for large screens */
    border-radius: 50%;
    margin-top: 20px;
}



/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .quotation-card {
        width: 90%;
        /* Adjust the width for smaller screens */
    }
}

/* Media query for larger screens */
@media only screen and (min-width: 1200px) {
    .quotation-card {
        width: 22%;
        /* Adjust the width for larger screens */
    }
}